<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <%- include('header/header.ejs') %>
    </header> 

    <!-- ======= Company Section ======= -->
    <section id="features" class="features" style="margin-top: 150px; margin-bottom: 200px;">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>제작사</h2>
          <p>제작사 소개</p>
        </header>

        <div class="row feature-icons" data-aos="fade-up">
          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="assets/img/logo2.png" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>SDMS</h4>
                    <p>기숙사 관리 솔루션<br>(GS 인증제품)</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4>SM-IFS</h4>
                    <p>급식(식수) 관리 솔루션</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>Smart Feedbin</h4>
                    <p>스마트 피드빈</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-magic-line"></i>
                  <div>
                    <h4>SM-CMS</h4>
                    <p>홈페이지 통합 관리 솔루션<br>( 전자정부 표준 프레임워크 인증제품 )</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-command-line"></i>
                  <div>
                    <h4>RPA Solution</h4>
                    <p>RPA 솔루션 웍트로닉스</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4>치매 예방 사이트</h4>
                    <p>모션 센서를 이용한 OX 퀴즈</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Company Section -->
  </main>

  <!-- ======= Footer ======= -->
  <footer>
    <%- include('footer/footer.ejs') %>
  </footer>

</body>

</html>