<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <%- include('header/header.ejs') %>
    </header>

 <!-- ======= F.A.Q Section ======= -->
 <section id="faq" class="faq">

    <div class="container" data-aos="fade-up" style="margin-top: 150px; margin-bottom: 200px;">

      <header class="section-header">
        <Br><Br><Br>
        <h2>quiz</h2>
        <p>퀴즈가 끝났습니다.</p>
        <Br><Br><Br>
        <h3><a class="getstarted scrollto" href="/">메인으로 돌아가기</a></h1>
        
      </header>

    
      

         

       

      </div>

    </div>

  </section><!-- End F.A.Q Section -->

  <!-- ======= Footer ======= -->
  <footer>
    <%- include('footer/footer.ejs') %>
  </footer>

</body>
</html>