<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <%- include('header/header.ejs') %>
    </header>


  <main id="main">
    <!-- ======= Introduce Section ======= -->
    <section id="values" class="values" style="margin-top: 150px;">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>프로그램 소개</h2>
          <p>다양한 OX 퀴즈를 통한 치매 예방 사이트</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <h3>O X Quiz 문제</h3>
              <p>다양한 OX 퀴즈 문제 제공</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <h3>모션 센서</h3>
              <p>손 모양을 인식하여 OX 퀴즈 풀기</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="assets/img/values-3.png" class="img-fluid" alt="">
              <h3>치매 예방 효과</h3>
              <p>손의 움직임과 다양한 퀴즈를 통한 치매 예방</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Introduce Section -->

    
    <section id="features" class="features" style="margin-bottom: 200px;">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>프로그램 효과</h2>
          <p>치매 예방 OX 퀴즈를 통해 얻을 수 있는 효과</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="assets/img/features.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>기억력 상승</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>두뇌 회전</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>인지 능력 상승</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>뇌세포 활성화</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>노화 방지</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>뇌 건강 유지</h3>
                </div>
              </div>

            </div>
          </div>

        </div>

       

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <%- include('footer/footer.ejs') %>
  </footer>

</body>

</html>