<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <%include ./header/header  %>
    </header>

    <!-- ======= Quiz Section ======= -->
    <section id="services" class="services" style="margin-bottom: 100px; margin-top: 50px;">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>O X 퀴즈 게임</p>
        </header>
        <section style="margin-left: 60px;">
          <button class="prev-btn">
            <i class="im im-angle-left"></i>
          </button>
          <section class="content" >
            <h2>난이도 : [<%= result.difficulty %>]</h2>
            <% if(result.img != null){ %>
            <br>
            <img src="/images/<%= result.img %>" class="img-fluid" alt="">           
            <% } %>
            <h2><p class="mt-5" id="Q">Q : <%= result.content %></p><h2>
            <input type="text" class="answer" />
          </section>
          <button class="next-btn">
            <i class="im im-angle-right"></i>
          </button>
        </section>

        <div class="row gy-4" style="margin-left: 320px;">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <img src="./assets/img/circle.png" class="img-fluid" alt=""><br><br><br><br>
              <h3>" 맞 다 "</h3>
            </div>
          </div>

          <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <img src="./assets/img/X.png" class="img-fluid" alt=""><br><br><br><br>
              <h3>" 아 니 다 "</h3>
            </div>
          </div>
          <button class="btn" id="checkBtn" data-value="<%= result.pid %>"></button>
        </div>
      </div>
      
    </section><!-- End Quiz Section -->

  
    <!-- 모달창 -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <p style ="text-align: center;"  class="check-answer"></p>
        <button style="background-color: #ffffff;" class="close"></button>
      </div>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <%include ./footer/footer.ejs  %>
  </footer>

</body>

<script src="../javascripts/test2.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</html>